<div class="vertical-align-wrap">
    <div class="vertical-align-middle">
        <div class="auth-box ">
            <div class="left">
                <div class="content">
                    <div class="logo text-center"><img src="app/assets/img/logo-dark.png" alt="Klorofil Logo"></div>
                    <form class="form-auth-small" id="login_form">
                        <div class="form-group input-group">
                            <label for="signup-email" class="control-label sr-only">Email</label>
                            <span class="input-group-addon"><i class="fa fa-envelope"></i></span>
                            <input type="email" class="form-control" id="signup-email" name="email" placeholder="email@example.com">
                        </div>
                        <div class="input-group form-group">
                            <label for="signup-password" class="control-label sr-only">Password</label>
                            <span class="input-group-addon"><i class="fa fa-key"></i></span>
                            <input type="password" class="form-control" id="signup-password" name="password" placeholder="Enter Password">
                        </div>
                        <div class="form-group clearfix">
                            <label class="fancy-checkbox element-left">
                                <input type="checkbox">
                                <span>Remember me</span>
                            </label>
                        </div>
                        <button type="submit" class="btn btn-primary btn-lg btn-block">LOGIN</button>
                        <div class="bottom">
                            <span><i class="fa fa-lock"></i> <a href="#forgot-password">Forgot password?</a></span>
                        </div>
                    </form>
                </div>
            </div>
            <div class="right">
                <div class="overlay"></div>
                <div class="content text">
                    <h1 class="heading">Powerstove Admin Access</h1>
                    <p>Authentication is Required</p>
                </div>
            </div>
            <div class="clearfix"></div>
        </div>
    </div>
</div>

<!--<h2>Login</h2>
<form id='login_form'>
    <div class='form-group'>
        <label for='email'>Email address</label>
        <input type='email' class='form-control' id='email' name='email' placeholder='Enter email'>
    </div>

    <div class='form-group'>
        <label for='password'>Password</label>
        <input type='password' class='form-control' id='password' name='password' placeholder='Password'>
    </div>

    <button type='submit' class='btn btn-primary'>Login</button>
</form>-->