<div class="auth-box ">
        <div class="content">
            <div class="logo text-center"><img src="../../app/assets/img/logo-dark.png" alt="Powerstove Logo"></div>
            <h2>Sign Up</h2>
            <form class="form-auth" id="sign_up_form" method="POST">
                <div class="col-md-6 col-lg-6">
                    <div class="form-group input-group">
                        <span class="input-group-addon"><i class="lnr lnr-user"></i></span>
                        <input type="text" class="form-control" name="firstname" id="firstname" placeholder="Firstname" required>
                    </div>
                    <div class="form-group input-group">
                        <span class="input-group-addon"><i class="lnr lnr-envelope"></i></span>
                        <input type="email" class="form-control" name="email" id="email" placeholder="email@example.com" required>
                    </div>
                </div>
                <div class="col-md-6 col-lg-6">
                    <div class="form-group input-group">
                        <span class="input-group-addon"><i class="lnr lnr-user"></i></span>
                        <input type="text" class="form-control" name="lastname" id="lastname" placeholder="Lastname" required>
                    </div>
                    <div class="form-group input-group">
                        <span class="input-group-addon"><i class="lnr lnr-lock"></i></span>
                        <input type="password" class="form-control" name="password" id="password" placeholder="Password" required>
                    </div>  
                </div>

                <div class="col-lg-4 col-md-4">
                    <div class="form-group input-group">
                        <span class="input-group-addon"><i class="lnr lnr-flag"></i></span>
                        <select class="form-control sel" name="country" id="country" required>
                            <option default="true" value="1">Country</option>
                        </select>
                    </div>                                
                </div>
                <div class="col-lg-4 col-md-4">
                    <div class="form-group input-group">
                        <span class="input-group-addon"><i class="lnr lnr-location"></i></span>
                        <select class="form-control sel" name="state" id="state" required>
                            <option default="true" value="1">State</option>
                        </select>
                    </div>  
                </div>
                <div class="col-lg-4 col-md-4">                                    
                    <div class="form-group input-group">
                        <span class="input-group-addon"><i class="lnr lnr-map-marker"></i></span>
                        <select class="form-control sel" name="postal_code" id="postal_code" required>
                            <option default="true" value="1">Postal Code</option>
                        </select>
                    </div>
                </div>
                <div class="col-lg-8 col-md-8">
                    <div class="form-group input-group">
                            <span class="input-group-addon"><i class="lnr lnr-home"></i></span>
                            <textarea rows="1" class="form-control" name="address" id="address" placeholder="Street Address" required></textarea>
                    </div>
                </div>
                <div class="col-lg-4 col-md-4">
                    <div class="form-group input-group">
                        <span class="input-group-addon"><i class="lnr lnr-phone"></i></span>
                        <input type="phone" class="form-control" name="contact_number" id="contact_number" placeholder="+2348000000000" required>
                    </div>
                </div>
                <div class="col-lg-4 col-md-4">
                </div>
                <div class="col-lg-4 col-md-4">
                    <button type="submit" class="btn btn-primary btn-lg btn-block">Add User</button>
                </div>
                <div class="col-lg-4 col-md-4"></div>
            </form>
        </div>
    <div class="clearfix"></div>
</div>

<!-- <h2>Sign Up</h2>
<form id='sign_up_form'>
    <div class="form-group">
        <label for="firstname">Firstname</label>
        <input type="text" class="form-control" name="firstname" id="firstname" required />
    </div>

    <div class="form-group">
    <div class="form-group">
        <label for="lastname">Lastname</label>
        <input type="text" class="form-control" name="lastname" id="lastname" required />
    </div>

    <div class="form-group">
        <label for="email">Email</label>
        <input type="email" class="form-control" name="email" id="email" required />
    </div>

        <label for="password">Password</label>
        <input type="password" class="form-control" name="password" id="password" required />
    </div> 
    <button type='submit' class='btn btn-primary'>Sign Up</button>
</form>
                    image uploader
                    <div class="form-group">
                        <label for="avatar">Choose Picture</label>
                        <input type="file" validate class="form-control-file" name="avatar" id="avatar" required>
                    </div>

<script>
    router.updatePageLinks();
</script> -->